// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-fira-code: 'Fira Code', monospace;
$font-size-base: 0.9rem;
$font-size-brand: 1.2rem;
$font-color-base: #000;
$line-height-base: 1.6;

// Colors
$whitesmoke: #F5F5F5;
$info: #ff4f5a;
$warning: #3b5998;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
