/* this scss effecting nav bar styles at layouts/app */
*{
    box-sizing: 'border-box';
}

#sidebar{
    min-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .nav-item:not(:last-child){
    margin-bottom: 3px;
}

#sidebar .nav-link:hover, #sidebar .nav-item > .active{
    background-color: $info;
    color: #fff;
    border-radius: 5px;
}

.bg-whitesmoke{
    background-color: $whitesmoke;
}

.collapse-item:not(.collapsed) {
    background:#ff4f5a;
    color: #fff;
    border-radius: 5px;
}

.collapse-item.collapsed{
    background: $whitesmoke;
}

.collapse-item:not(.collapsed) > .nav-link{
    color: #fff;
}

.nav-link{
    padding: 10px 15px 10px 15px !important;
}

.avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &-1x{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    &-2x{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

.top-n35{
    top: -35px;
}

/* posts */
.featured-image{
    /* show post featured image */
    &-sg{
        width: 680px;
        height: 400px;
    }
    width: 200px;
    height: 100px;
}

.page-link{
    background-color: #fff;
    border: 1px solid $info;
    color: $info;
}

.page-link:hover, .page-item.active .page-link{
    background-color: $info;
    border: 1px solid $info;
    color: #fff;
}